<div id="<%= dom_id product %>">
  <p class="my-5">
    <!-- <strong class="block font-medium mb-1">Image url:</strong> -->
    <%= image_tag(product.image_url, size: "90x90") %>
  </p>

  <p class="my-5">
    <!-- <strong class="block font-medium mb-1">Title:</strong> -->
    <h1 class="text-2xl"><%= product.title %></h1>
  </p>

  <p class="my-5">
    <!-- <strong class="block font-medium mb-1">Description:</strong> -->
    <%= truncate(strip_tags(product.description), length: 80) %>
  </p> 

  <p class="my-5">
    <strong class=" font-medium mb-2 ">Price:</strong>
    <%= product.price %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this product", product, class: "rounded-lg py-3 px-5 bg-blue-600 inline-block font-medium" %>
    <%= link_to 'Edit this product', edit_product_path(product), class: "rounded-lg py-3 ml-2 px-5 bg-green-600 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
