<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<div class="w-full">
    <h1 class="text-center text-4xl text-bold underline py-5">Your Pragmatic Catalog</h1>
     <% @products.each do |product| %>
      <div id="products" class="grid grid-cols-4 gap-4 py-5 box-border block">
          <%= image_tag(product.image_url, size: "90x90") %>
          <h2 class="font-bold">
              <%= product.title %>
          </h2>
          <p>
              <%= truncate(strip_tags(product.description), length: 80) %>
          </p>
          <div class="price px-5">
              <%= number_to_currency(product.price) %>
              <%= link_to "Add to cart", line_items_path(product_id: product),
              class: "items-center box-border px-5 py-3 rounded-full bg-green-600 " %>
          </div>

      </div>
    <% end %>

</div>
